<configuration>
	<appSettings>
    <add key="NODE_ENV" value="production" />
  </appSettings>

	<system.web>
    <identity impersonate="true" />
    <authentication mode="Windows" />
	</system.web>

	<system.webServer>

		<iisnode promoteServerVars="AUTH_USER,AUTH_TYPE" />

		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>

		<rewrite>
			<rules>
				<rule name="sendToNode">

					<match url="/*" />
					<action type="Rewrite" url="server.js" />

				</rule>
			</rules>
		</rewrite>

		<validation validateIntegratedModeConfiguration="false" />

	</system.webServer>
</configuration>
