body,
h1,
h2,
h3,
h4,
h5,
h6,
#app {
  font-family: 'Titillium Web', sans-serif; }

body,
html {
  height: 100%;
  width: 100%; }

body {
  color: #ffffff;
  background-color: #191919; }

.credentials-error {
  text-align: center; }

#fb__spinner-wrap {
  text-align: center; }
  #fb__spinner-wrap #fb__spinner {
    width: 100px;
    height: 100px;
    margin: 20px; }

.row {
  max-width: 99%; }

.title-bar {
  background: #333;
  padding: 0;
  border-bottom: 1px solid #474747; }

.title-bar-title {
  padding-left: 25px; }

.menu-icon {
  padding-right: 25px; }

.fb__nav-menu i,
.fb__nav-menu-right i {
  font-size: 24px;
  padding-right: 8px; }

.fb__nav-menu a {
  color: #ffffff; }
.fb__nav-menu li {
  text-transform: uppercase;
  font-size: 1.3vw;
  line-height: 2;
  color: #ffffff;
  padding: 8px 30px; }
.fb__nav-menu img {
  max-height: 70px; }
.fb__nav-menu .fb__dropdown {
  margin-top: -15px; }
  .fb__nav-menu .fb__dropdown li {
    line-height: normal;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px; }
    .fb__nav-menu .fb__dropdown li .fb__child-dropdown li {
      min-width: 250px;
      font-size: 12px;
      padding: 0.7rem 1rem;
      color: #474747 !important;
      cursor: pointer; }
      .fb__nav-menu .fb__dropdown li .fb__child-dropdown li a {
        color: #474747 !important; }

.fb__nav-menu-right li {
  text-transform: uppercase;
  padding: 8px 30px;
  border-left: 1px solid #474747;
  color: #ffffff;
  font-size: 28px;
  line-height: 2; }
.fb__nav-menu-right li:first-child {
  border: 0; }
.fb__nav-menu-right li:first-child:hover {
  background: #333; }

.fb__nav-menu li:hover,
.fb__nav-menu-right li:hover {
  background-color: rgba(69, 89, 117, 0.1); }

.fb__menu-button,
.fb__menu-button a {
  color: #ffffff;
  font-size: 36px; }

.row-padder {
  padding: 2px 0; }

.tracker-wrap {
  padding-top: 15px; }

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.meeting-room {
  border: 1px solid #474747;
  border-left: 8px solid #3adb76;
  width: 100%;
  background-color: #333;
  padding: 10px 50px; }
  .meeting-room .meeting-busy {
    font-size: 24px;
    color: #f04124; }
  .meeting-room .meeting-open {
    font-size: 24px;
    color: #3adb76; }
  .meeting-room .meeting-upcoming {
    font-size: 24px;
    color: #ffae00; }
  .meeting-room .meeting-error {
    font-size: 24px;
    color: #f3840e; }
  .meeting-room .meeting-room__name {
    font-size: 30px;
    color: #eceef1; }
  .meeting-room .meeting-room__name:first-letter {
    text-transform: uppercase; }
  .meeting-room .meeting-subject {
    font-size: 24px; }
  .meeting-room .meeting-time {
    color: #d4d6d8; }
  .meeting-room .meeting-fullscreen a {
    font-size: 36px;
    color: #d4d6d8; }
    .meeting-room .meeting-fullscreen a:hover {
      color: white; }

.meeting-room-busy {
  border-left: 8px solid #f04124 !important; }

.meeting-room-error {
  border-left: 8px solid #f3840e !important; }

#single-room__wrap {
  height: 100vh;
  width: 100%; }
  #single-room__wrap .full-height {
    height: 100vh;
    width: 100%; }
    #single-room__wrap .full-height .columns {
      height: 100vh; }
    #single-room__wrap .full-height .left-col {
      background: black;
      padding: 30px; }
      #single-room__wrap .full-height .left-col #single-room__room-name {
        font-size: 3vw; }
      #single-room__wrap .full-height .left-col #single-room__room-status {
        text-transform: uppercase;
        padding: 4% 0;
        font-size: 18vw;
        font-weight: lighter; }
      #single-room__wrap .full-height .left-col #single-room__meeting-title {
        font-size: 2.7vw;
        font-weight: lighter; }
        #single-room__wrap .full-height .left-col #single-room__meeting-title #single-room__next-up {
          font-weight: bold; }
      #single-room__wrap .full-height .left-col #single-room__meeting-time {
        font-size: 2vw;
        font-weight: lighter; }
      #single-room__wrap .full-height .left-col #single-room__meeting-organizer {
        font-size: 1.6vw;
        font-weight: lighter; }
    #single-room__wrap .full-height .busy {
      background: #f04124; }
    #single-room__wrap .full-height .open {
      background: #289952; }
    #single-room__wrap .full-height .right-col {
      background: white;
      padding: 30px;
      color: black; }
      #single-room__wrap .full-height .right-col #single-room__clock-wrap {
        padding-bottom: 80px;
        font-weight: lighter; }
        #single-room__wrap .full-height .right-col #single-room__clock-wrap #single-room__clock {
          text-align: center; }
          #single-room__wrap .full-height .right-col #single-room__clock-wrap #single-room__clock #single-room__time {
            font-size: 4vw; }
          #single-room__wrap .full-height .right-col #single-room__clock-wrap #single-room__clock #single-room__date {
            font-size: 2.7vw;
            color: #474747; }
      #single-room__wrap .full-height .right-col #upcoming-title {
        font-size: 2.2vw;
        text-transform: uppercase;
        font-weight: lighter; }
      #single-room__wrap .full-height .right-col table tr {
        border-bottom: 1px solid #eceef1; }
        #single-room__wrap .full-height .right-col table tr td {
          padding: 10px 8px; }
        #single-room__wrap .full-height .right-col table tr td.up__meeting-title {
          font-size: 1.1vw; }
        #single-room__wrap .full-height .right-col table tr td.up__meeting-time {
          font-size: 0.9vw;
          color: #474747; }
  #single-room__wrap #error-wrap {
    width: 600px;
    margin: 0 auto;
    padding-top: 50px; }
    #single-room__wrap #error-wrap #error-text {
      font-size: 2.8vw; }
      #single-room__wrap #error-wrap #error-text #error-header {
        font-weight: bold;
        font-size: 3.2vw;
        padding-bottom: 25px; }

@media screen and (min-width: 40em) {
  .valign-middle {
    display: table;
    width: 100%; }
    .valign-middle > .columns {
      display: table-cell;
      vertical-align: middle; }
    .valign-middle > .columns, .valign-middle > [class*="column"] + [class*="column"]:last-child {
      float: none; } }

/*# sourceMappingURL=styles.css.map */
